.dropdown {
    position: relative;    
<<<<<<< HEAD
    display: inline-block;
=======
    display: flex;
>>>>>>> 9cd689bf2e08055965b35c6c5f250710223a7d9f
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #296C72;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    width: 200px;
    top: 100%;
    left: 0;
    z-index: 9999;
    
}

.dropdown-menu li {
    padding: 8px 12px;
    position: relative;
}

.dropdown-menu a {
    text-decoration: none;
    color: #D8E2E3;
    display: block;
}

.dropdown:hover .dropdown-menu  {
    display: block; 
}

<<<<<<< HEAD
=======
.dropdown-menu li {
    position: relative; 
}

>>>>>>> 9cd689bf2e08055965b35c6c5f250710223a7d9f
.dropdown-menu li::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #f4a261; 
    transition: width 0.3s ease-in-out; 
}

.dropdown-menu li:hover::after {
    width: 100%; 
}

