.main-subtitle  {
    font-family: "Merriweather", serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 2px; 
    color: #1e5257;     
    text-shadow: 2px 2px 2px #fff; 
    margin-top: 15px;
}
