.main-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-image: url(../../images/doctor-working.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 115px 90px;     
    filter: brightness(80%);        
}

.main-banner .wrapper {
    max-width: 80%;
    padding-left: 100px;          
}