.main-title {
    font-family: "Merriweather", serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 3px; 
    color: #1e5257;
    text-shadow: 2px 2px 2px #d3d1d1; 
}

