.main-button {
    display: inline-block;
    padding: 12px 30px;    
    margin-right: 0;  
    transition: trasform 0.3s linear; 
    background-color: #f4a261;
    color: #1e5257;
    box-shadow: 5px 5px 3px #1c1c1c;  
    border-radius: 20px;  
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.main-button:hover {      
    transform: scale(1.08);
}

.main-button.-second {
    background-color: #f4a361c2;
    box-shadow: none;
    border: 2px solid #8d8d8d; 
    padding: 12px 40px;
    font-size: 20px;
    border-radius: 20px; 
    color: #1e5257  
}